
/Proyecto LP/mi-servidor/src/main/java/com/miapp/mi_servidor/FireBase
Proyecto LP/mi-servidor/src/main/resources/firebase/serviceAccountKey.json
/Proyecto LP/mi-servidor/Backend/src/main/resources/firebase
Proyecto LP/mi-servidor/frontend/web/index.html
Proyecto LP/mi-servidor/frontend/web/index.html
